@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@tailwind utilities;
/* Hide native calendar icon in Webkit browsers */
.hide-native-calendar-icon::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}